.card {
  max-width: 245px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card_image {
  max-width: 202px;
  max-height: 202px;
  align-self: center;
  margin-top: 21px;
}
.card_title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-left: 21px;
  margin-bottom: 0;
}
.card_data {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-left: 21px;
  margin-top: 5px;
}
